# Bytecode-Compiled
__pycache__/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Environment
.env

# Runtime
app/
data/
log/

# (IDE) Visual Studio Code
.history/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
